<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="JiraUser" value="" />
    <add key="JiraPassword" value="" />
    <add key="JiraServer" value="https://jira.it.epicgames.net" />
    <add key="ProxyServer" value="" />
    <add key="ProxyUser" value="" />
    <add key="ProxyPassword" value="" />
  </appSettings>
</configuration>