<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="debugger" xsi:type="Debugger" layout="${message}" />
    <target name="logfile" xsi:type="File" layout="${longdate} | ${level} | ${logger:shortName=true} | ${message}" fileName="application.log" keepFileOpen="true" encoding="utf-8" deleteOldFileOnStartup="true" />
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="debugger,logfile" />
  </rules>
</nlog>